#bars {
    width: 800px;
    height:100px;
    margin: 80px auto;
    position: relative;
    
  }
  .bar {
    display: inline-block;
    background-color: rgb(13, 85, 13);
    width: 20px;
    height: 20px;
    animation: wave 2s linear infinite;
  }
 
  @keyframes wave {
    0%, 50%{
      transform: scaleY(1);
    }
    25% {
      transform: scaleY(4);
      background-color: rgb(21, 151, 190);
    }
  }

.bar:nth-child(1)  {animation-delay: 0s;  }
.bar:nth-child(2)  {animation-delay: .2s;  }
.bar:nth-child(3)  {animation-delay: .4s;  }
.bar:nth-child(4)  {animation-delay: .6s;  }
.bar:nth-child(5)  {animation-delay: .8s;  }


.countdown__module {
  display: table;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 100px;
  color: #F2B441;
  vertical-align: top;
}

.countdown__module span {
  display: block;
  font-family: "Work Sans", sans-serif;
  font-size: 50px;
  font-weight: 300px;
  line-height: 1;
  color: #fff;
  margin-bottom: 5px;
}

.countdown__module p {
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  width: 25%;
}


